

body {
    margin-top:70px;
}

.holiday {
    color: red;
}

.timetable-table-1 {
    float:left;
    width: auto;
    position: absolute;
    background-color: white;
}

.timetable-table-1 .number-column {
    width: 20px;
}

.timetable-table-1 .worker-column {
    width: 380px;
}

.timetable-table-1 .total-column {
    width: 100px;
}

.timetable-table-2 {
    margin-left: 500px;
}

.timetable-table-1 td, .timetable-table-2 td {
    padding: 5px !important;
    height: 35px;
}

.timetable-table-2 {
    width: auto !important;
    table-layout: fixed !important;
}

.timetable-table-2 td {
    width: 90px;
    position: relative;
}

.tableContainer {
    width: 1300px;
    overflow-x: scroll;
    min-height: 300px;
    margin-top: 20px;
}

.secondTableContainer {
    width: 3500px;
}

.timetableDeleteButton {
    float: right;
}

/* */

.dayCellInput {
    width: 80px;
    /* display: none; */
}

.employmentTypesList {
    min-width: 200px;
    padding-left: 0;
    position: absolute;
    border: 1px solid black;
    top: 30px;
    /* display: none; */
    z-index:10;
    background-color: white;
}

.employmentTypesList li {
    list-style-type: none;
    cursor: pointer;
    margin-left: 0;
    padding-left: 0;
}

.employmentTypesList li:hover {
    background-color: #F4FF77;
}
