

body {
    margin-top:70px;
}

.holiday {
    color: red;
}

.darkRow {
    background-color: #f3f3f3;
}

.timetable-table-1 {
    float:left;
    width: auto;
    position: absolute;
    background-color: white;
    z-index: 100;
}

.timetable-table-1 .number-column {
    width: 20px;
}

.timetable-table-1 .worker-column {
    width: 380px;
}

.timetable-table-1 .total-column {
   width: 100px;
   /* width: 45px; */
}

.timetable-table-2 {
    margin-left: 505px;
    /* margin-left: 450px; */
}

.timetable-table-1 td, .timetable-table-2 td {
    padding: 5px !important;
    height: 35px;
}

.timetable-table-2 {
    width: auto !important;
    table-layout: fixed !important;
    font-size: 9pt;
}

.timetable-table-2 td {
    /* width: 45px; */
    width: 90px;
    position: relative;
}

.tableContainer {
    width: 1300px;
    overflow-x: scroll;
    min-height: 300px;
    margin-top: 20px;
}

.secondTableContainer {
    width: 3500px;
    /* width: 2000px; */
}


.timetableDeleteButton {
    float: right;
}

/* */

.dayCellInput {
    width: 80px;
    /* width: 40px; */
}

.employmentTypesList {
    min-width: 200px;
    padding-left: 0;
    position: absolute;
    border: 1px solid black;
    top: 30px;
    /* display: none; */
    z-index:10;
    background-color: white;
}

.employmentTypesList li {
    list-style-type: none;
    cursor: pointer;
    margin-left: 0;
    padding-left: 0;
}

.employmentTypesList li:hover {
    background-color: #F4FF77;
}

.countRowsInput {
    width: 50px;
}

/* */

.dropDownContainer {
    float: right;
    margin-right: 25px;
}

.my-btn {
    color: #337ab7 !important;
}

.timetable-button-container {
    float: right;
    margin: 30px;
}

.monthSelect, .yearSelect {
    padding: 3px;
}
